.App {
    max-width: 800px;
    margin: 15px auto;
}

.App .card {
    padding: 5px 5px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.App .header {
    text-align: center;
    background-color: #282c34;
    color: white;
    border-radius: 10px;
}

.App .coder {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: rgb(187, 186, 248);
}

.App a {
    text-decoration: none;
}
