.App {
    max-width: 800px;
    margin: 15px auto;
    color: #282c34;
}

.App .App-card {
    padding: 5px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.App header {
    text-align: center;
    background-color: #282c34;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.App .App-coder {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: white;
}

.App a {
    text-decoration: none;
}
