.WeatherForecastDay {
    text-align: center;
    margin: 30px 0px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgba(40, 44, 52, 0.3);
    border-radius: 10px;
    padding: 10px;
    transition: all 150ms ease-in-out;
}

.WeatherForecastDay:hover {
    border: 1px solid #DA5663;
    transform: scale(1.2);
}

.WeatherForecastDay .WeatherForecastDay-day {
    font-size: 20px;
}

.WeatherForecastDay .WeatherForecastDay-temperature-max {
    font-weight: 700;
}

.WeatherForecastDay .WeatherForecastDay-temperature-min {
    opacity: 60%;
    margin-left: 5px;
}
