.WeatherSearch {
    margin-bottom: 20px;
}

.WeatherSearch .search-form {
    text-align: center;
    margin: 20px 2px;
}

.WeatherSearch input {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.WeatherSearch button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 0 4px;
    transition: 200ms all ease-in-out;
}

.WeatherSearch button:hover {
    background: #282c34;
    color: white;
    cursor: pointer;
}

.WeatherSearch .current-weather {
    text-align: center;
    margin-bottom: 10px;
}

.WeatherSearch .more-info {
    position: relative;
    top: 30px;
    line-height: 2;
}

.WeatherSearch .current-temperature {
    font-size: 60px;
}
