.WeatherTemperature {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 15px;
    line-height: 2;
}

.WeatherTemperature a {
    text-decoration: none;
    font-weight: 400;
    color: #6f7072;
}

.WeatherTemperature .WeatherTemperature-units {
    position: relative;
    bottom: 35px;
    font-weight: bold;
    color: #e80064;
}

.WeatherTemperature .WeatherTemperature-current-temperature {
    font-size: 85px;
}
