.WeatherTemperature {
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 0px;
    line-height: 2;
}

.WeatherTemperature a {
    text-decoration: none;
}

.WeatherTemperature .units {
    position: relative;
    bottom: 15px;
}

.WeatherTemperature .current-temperature {
    font-size: 60px;
}
