.WeatherForecastDay {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.WeatherForecastDay .WeatherForecastDay-day {
    font-size: 20px;
}

.WeatherForecastDay .WeatherForecastDay-temperature-max {
    font-weight: 700;
}

.WeatherForecastDay .WeatherForecastDay-temperature-min {
    opacity: 60%;
    margin-left: 5px;
}
