.WeatherForecast {
    text-align: center;
    margin: 30px;
}

.WeatherForecast .WeatherForecast-day {
    font-size: 20px;
    font-weight: 500;
}

.WeatherForecast .WeatherForecast-temperature-max {
    font-weight: 500;
}

.WeatherForecast .WeatherForecast-temperature-min {
    opacity: 70%;
    margin-left: 5px;
}
