.WeatherSearch {
    margin-bottom: 20px;
}

.WeatherSearch h2 {
    text-align: center;
    color: #282c34;
    font-size: 20px;
}

.WeatherSearch .WeatherSearch-search-form {
    text-align: center;
    margin: 10px 2px;
}

.WeatherSearch input {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.WeatherSearch button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 0 4px;
    transition: 200ms all ease-in-out;
}

.WeatherSearch button:hover {
    background: #282c34;
    color: white;
    cursor: pointer;
}

.WeatherSearch h2 {
    text-align: center;
    color: #345a6d;
}

.WeatherSearch .WeatherSearch-loader {
    text-align: center;
}
